.login-container {
    width: 100vw;
    height: 100vh;
}

.login-content {
    display: flex;
    padding: 2rem;
    justify-content: space-between;
    align-items: flex-start;
}

.input-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16vh;
    width: 49%
}

.input-content .logo {
    display: flex;
    padding: 0.5rem;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.login-input-container {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.6875rem;
}

.auth-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.5rem;
}

.auth-title {
    color: #1C1C1C;
    font-family: Inter;
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 0.2rem;
    margin: 0px;
    padding: 0px;
    text-align: left;
}

.auth-description {
    color: #545454;
    font-family: Inter;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0px;
    padding: 0px;
}

.input-field-cta {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.email-field,
.password-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}

.auth-label {
    color: #000;
    font-family: Inter;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.auth-field {
    display: flex;
    width: 22.5rem;
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1.5px solid var(--camsol-neutral-200, #C5C5C5);
    background: var(--camsol-black-and-white-white, #FFF);
    align-items: center;
    gap: 0.625rem;
}

.remember-me {
    display: flex;
    width: 100%;
    align-items: flex-start;
    align-content: center;

}

.check-box {
    margin: 0px;
    padding: 0px;
}

.auth-buttons {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.auth-buttons p {
    display: inline-flex;

}

.full-width {
    width: 100%;
}

.text-btn {
    display: inline-flex;
    color: #006BEA;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: none;
    padding-left: 0.25rem;
}

.image-container {
    width: 49%;
    height: 90vh;
    display: flex;
    justify-content: flex-end;
}



.auth-image-container {
    display: flex;
    height: 100%;
    border-radius: 2rem;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 100%;
    overflow: hidden;
    border-radius: 2rem;
    background-image: url("/public/assets/images/auth-image.png");
    
}

@media screen and (min-width: 1450px) {
    .auth-image-container {
        display: flex;
        height: 100%;
        border-radius: 2rem;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: bottom;
        width: 90%;
        overflow: hidden;
        border-radius: 2rem;
        background-image: url("/public/assets/images/auth-image.png");
        
    } 
    .gap-login{
        gap: 16vh !important;
    }
    
}


.auth-img-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2rem 8rem;
    color: white;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(3, 67, 118, 0.31) 39.76%, rgba(3, 44, 82, 0.60) 71.01%);
}

.auth-img-text img {
    height: 2rem;
}

.auth-img-text p {
    text-align: center;
    color: white;
}

.gap-login{
    gap: 16vh !important;
}
