.primary-button{
    padding: 0.75rem 1rem;
    border-radius: 4px;
    background: #006BEA;
    color: #FFF;
    border: none;
    color: #FFF;
    font-size: 0.75rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.75px;
}

.button-fullwidth{
    width: 100%;
}