.nav-container{
    display: flex;
    padding: 1.5rem 7rem;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 6.778rem;
    height: 1.25rem;
    overflow: hidden;
}

.menu-item-container{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1.5rem;
    padding-inline-start: 0rem;
}

.single-menu-item{
    color: #000;
    font-size: 1rem;
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.cta{
    display: flex;
    align-items: flex-start;
    gap: 0.25rem;
}

.header-link{
    text-decoration: none;
    color: #000;
    
}